---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <div class="container mx-none user-intro">
    <p>{{ site.user.intro | lstrip }}</p>
  </div>

  {{ content }}

  <div>
    <codersrank-summary username="{{ site.codersrank_username }}" branding="false" />
    <codersrank-activity username="{{ site.codersrank_username }}" branding="false" labels legend tooltip />
  </div>

  {%- if site.projects.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Projects" }}</h2>
  <ul class="post-list">
    {%- for project in site.projects -%}
    <li>
      <h3>
        <a class="post-link" href="{{ project.url | relative_url }}">
          {{ project.name | escape }}
        </a>
      </h3>
      <p> {{ project.description }}</p>
      {%- if project.source_url -%}
      :octocat: <a target="_blank" href="{{ project.source_url }}">Source code</a>
      {%- endif -%}

      {%- if project.demo_url -%}
      <br> :computer: <a target="_blank" href="{{ project.demo_url }}">Live demo</a>
      {%- endif -%}
      {%- if project.content -%}
      <p> {{ project.content }} </p>
      {%- endif -%}
    </li>
    <hr>
    {%- endfor -%}
  </ul>
  {%- endif -%}

  {% assign posts = site.posts %} {%- if posts.size > 0 -%} {%- if
  page.list_title -%}
  <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {%- endif -%}
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts -%}
    <li>
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>