---
layout: default
---
<article class="project h-entry" itemscope itemtype="http://schema.org/Project">

  <header class="project-header">
    <h1 class="project-title p-name" itemprop="name headline">{{ page.name | escape }}</h1>
    <p class="p-name" itemprop="name headline">{{ page.description | escape }}</p>
  </header>

  <div class="project-content e-content" itemprop="projectBody">
    :octocat: <a target="_blank" href="{{ page.source_url }}">Source code</a>
    <br>
    :computer: <a target="_blank" href="{{ page.demo_url }}">Live demo</a>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
